.html {
  scroll-padding-top: 88.85px;
}

.dropZone {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1080px + 32px + 32px;
  margin: 0 auto;
  padding: 32px;

  h1 {
    font-size: 50.52px;
  }

  h2 {
    font-size: 37.90px;
    position: sticky;
    top: 0;
    background: #2a2d3e;
    z-index: 1;
    padding: 16px 0;
    margin-bottom: 16px;

    &::after {
      content: '';
      display: block;
      width: calc(100% - 32px);
      height: 100%;
      position: absolute;
      bottom: 0;
      left: 16px;
      pointer-events: none;
      box-shadow: 0 5px 3px -3px rgba(0,0,0,0.12), 0 2px 2px -2px rgba(0,0,0,0.24);
    }
  }
}

.modId,
.modVersion {
  font-family: 'Space Mono', monospace;
  display: contents;
}

.modListItem {
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 0.2);
    border-radius: 4px;
    opacity: 0;
    left: 0;
    top: 0;
    transition: opacity 0.1s linear;
    z-index: -1;
  }

  &:hover::after {
    opacity: 1;
  }
}

.modListItem {
  position: relative;
}

.modListItem:target {
  border-radius: 4px;
  animation: modListTargetAnimation 0.23s forwards;
}

@keyframes modListTargetAnimation {
  from {
    background: #f7258500;
  }

  to {
    background: rgba(#f72585, 0.5);
  }
}

.modListItemDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.actions {
  margin-left: auto;
  flex-shrink: 0;
}

.tag {
  background: white;
  color: black;
  border-radius: 4px;
  border: 1px black solid;
  padding: 8px;
  display: flex;
  align-items: center;

  &.error {
    background: red;
  }

  &.warn {
    background: yellow;
  }
}

.processingRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 32px 0;
}

.jarListItem {
  background: rgb(0 0 0 / 0.2);
  padding: 16px;
  border-radius: 8px;
}

.jarListHeading {
  display: flex;
}
