.dropZone {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1080px + 32px + 32px;
  margin: 0 auto;
  padding: 32px;

  h1 {
    font-size: 50.52px;
  }

  h2 {
    font-size: 37.90px;
  }
}

.modId,
.modVersion {
  font-family: 'Space Mono', monospace;
  display: contents;
}

.modListItemDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.actions {
  margin-left: auto;
  flex-shrink: 0;
}

.tag {
  background: white;
  color: black;
  border-radius: 4px;
  border: 1px black solid;
  padding: 8px;
  display: flex;
  align-items: center;

  &.error {
    background: red;
  }

  &.warn {
    background: yellow;
  }
}
