.dropZone {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1080px + 32px + 32px;
  margin: 0 auto;
  padding: 0 32px;

  h1 {
    font-size: 50.52px;
  }

  h2 {
    font-size: 37.90px;
  }
}
