.rightAlignedActions.rightAlignedActions {
  margin-top: auto;
  margin-left: auto;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 8px;

  & > * {
    flex: 1 1 auto;
    max-width: 100%;
  }
}

.spaced.spaced {
  padding-top: 32px;
}
