$materialShadow0: 0 1px 1px rgb(9 30 66 / 0.2), 0 0 1px 0 rgb(9 30 66 / 0.24);
$materialShadow1: 0 1px 3px rgb(0 0 0 / 0.12), 0 1px 2px rgb(0 0 0 / 0.24);
$materialShadow6: 0px 3px 5px -1px rgb(0 0 0 / 0.2),0px 6px 10px 0px rgb(0 0 0 / 0.14),0px 1px 18px 0px rgb(0 0 0 / 0.12);
