.actions {
  margin-top: auto;
  margin-left: auto;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  padding-top: 32px;

  & > * {
    margin: 4px;
    flex: 1 1 auto;
    max-width: calc(100% - 8px);
  }
}

.actionsGap {
  margin: -4px;
}
