.modal {
  display: flex;
}

.modalBox {
  height: 100%;
  overflow: auto;

  margin: auto;
  background: #2a2d3e;
  max-width: 1200px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;

  > :global(.full-bleed) {
    margin-left: -16px;
    margin-right: -16px;
  }
}
