/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit;
  text-underline-position: under;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500;Space+Mono:400');

//https://coolors.co/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0

:root {
  --theme-primary: #f72585;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: #fafafa;
}

body {
  background: #2a2d3e;
}

:global(#app) {
  display: contents;
}
