.modal {
  display: flex;
  margin: 16px 8px;
  overflow: auto;
}

.modalBox {
  margin: auto;
  background: #2a2d3e;
  max-width: 720px;
  width: 100%;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;

  > :global(.full-bleed) {
    margin-left: -16px;
    margin-right: -16px;
  }
}
